.admin-container {
  display: flex;
  height: 100vh;
  font-family: 'Segoe UI', sans-serif;
  overflow: hidden; 
}

.admin-content {
  flex: 1;
  padding: 40px 40px 40px 15px; /* Cambié el padding izquierdo a 20px */
  background-color: #f4f5fa;
  height: 100vh;
  overflow-y: auto; 
}

.dashboard-title {
  display: flex;
  align-items: center;
  font-size: 1.8rem;
  gap: 10px;
  color: #333;
  margin-left: 30px;
}

.crown-icon {
  color: #d4af37;
  font-size: 2rem;
  margin-left: 10px;
  margin-top: 2px;
}
