.add-product-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    overflow-y: auto;
}

.add-product-modal-content {
    width: 500px; 
    text-align: center;
    background-color: #fff;
    border-radius: 12px; 
    padding: 20px; 
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.add-product-title {
    margin-bottom: 20px;
    color: #993f6b;
}